time_modified fields violate specification by insisting on upper case

https://cveawg-test.mitre.org/api-docs/#/CVE%20Record/cveGetFiltered says that time_modified.lt and time_modified.gt shall be entered in the date-time format.

https://swagger.io/docs/specification/data-models/data-types/ says "date-time – the date-time notation as defined by RFC 3339, section 5.6"

https://datatracker.ietf.org/doc/html/rfc3339#section-5.6 says
```
the "T" and "Z" characters in this syntax may alternatively be lower case "t" or "z" respectively
```
However, the CVE Services API does not support this. Instead, it improperly only allows upper case. Here are four representative request/response pairs that demonstrate the bug:

```
/api/cve?time_modified.gt=2022-06-13T23:59:59+20:00
{"cveRecords":[{"dataType":"CVE_RECORD","dataVersion":"5.0","cveMetadata":{"cveId":"CVE-2022-20039" ...
```
```
/api/cve?time_modified.gt=2022-06-13t23:59:59+20:00
{"error":"BAD_INPUT","message":"Parameters were invalid","details":[{"msg":"Invalid value","param":"time_modified.gt","location":"query"}]}
```
```
/api/cve?time_modified.gt=2022-06-13T00:00:00Z
{"cveRecords":[{"dataType":"CVE_RECORD","dataVersion":"5.0","cveMetadata":{"cveId":"CVE-2022-20039" ...
```
```
/api/cve?time_modified.gt=2022-06-13T00:00:00z
{"error":"BAD_INPUT","message":"Parameters were invalid","details":[{"msg":"Invalid value","param":"time_modified.gt","location":"query"}]}
```