time_* parameters cannot include a time zone

https://github.com/CVEProject/cve-services/blob/facb0f8f532ee16540c0eb09e469283bb50581d4/src/controller/cve-id.controller/cve-id.middleware.js#L19-L20
https://github.com/CVEProject/cve-services/blob/facb0f8f532ee16540c0eb09e469283bb50581d4/src/controller/cve.controller/cve.middleware.js#L29-L30
cause requests such as
```
/api/cve?time_modified.gt=1999-01-01T00:00:00Z
```
to fail with
```
{"error":"BAD_INPUT","message":"Parameters were invalid","details":[{"msg":"Invalid value","param":"time_modified.gt","location":"query"}]}
```
(*/api/cve?time_modified.gt=1999-01-01T00:00:00* is expected instead.) However,
https://github.com/CVEProject/cve-services/blob/facb0f8f532ee16540c0eb09e469283bb50581d4/docs/openapi.yml#L920-L925
says that the date-time format is used, and https://swagger.io/docs/specification/data-models/data-types/ says
```
date-time – the date-time notation as defined by RFC 3339, section 5.6,
for example, 2017-07-21T17:32:28Z
```
